h1 {
  background-color: darkred;
  text-decoration: underline;
  text-align : center;
}


li{
	color: red;
}



#bluesubtitle{
	color: blue;
}


.purplesubtitle{
	color:blue;
}


.greensubtitle{
	color: green;
}


